.visa-logo figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visa-logo img {
  max-width: 60px;
  height: auto;
  transition: transform 0.3s ease;
}

.visa-logo img:hover {
  transform: scale(1.1);
}




.box_content {
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 12px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.box_edit {
  display: flex;
  justify-content: center;
}


.signINBTN h1 {
  color: black !important;
}


h1 {

  font-size: 54px !important;
  font-weight: bold !important;
  line-height: 70px;
}


h2 {

  font-size: 22px;
  font-weight: bold !important;
}

h3 {

  font-size: 20px !important;
  font-weight: bold !important;
}


a {

  font-size: 15px !important;
}